@import (reference) './file_imports.less';

#companyWebsiteWrap {
    .contactus-section-wrap{
        min-height: 100vh;
        height: 100%;

        .contact-address{
            background: @contact-us-grey;
            width: 50%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
        }
        .contactus-form{
            display: inline-block;
            width: 50%;
            height: 100%;
            background: @white;
        }
    }
}